@model IdentityDto
@{
    ViewData["Title"] = "PasswordChange";
    Layout = "~/Views/Shared/_DoktorRandevuLayout.cshtml";
}

<div class="col-lg-12">
    <div class="card">
        <div class="card-header">Şifremi değiştir</div>
        <div class="card-body card-block">
            <form action="/DoktorRandevu/ChangePassword/" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="Id" /> @*  buraya id gelcek modelden  *@
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" id="password" required asp-for="Password" placeholder="Yeni Şifreninizi Girin" class="form-control">
                        <div class="input-group-addon"></div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <input type="password" id="ConfirmPassword" required asp-for="ConfirmPassword" placeholder="Yeni Şifrenizi Tekrar Edin" class="form-control">
                        <div class="input-group-addon"></div>
                    </div>
                </div>
                <div class="form-actions form-group"><button type="submit" class="btn btn-secondary btn-sm">Güncelle</button></div>
            </form>
        </div>
    </div>
</div>
